body{
	background-image: url("../img/persprop.jpg");
	background-attachment: fixed;
	}

div h1{
	text-align: center;
	font-size: 3em;
	color: navy;
	font-family: Lucida Console’, Monaco, monospace;
	font-weight: bold;
	background-color: rgba(189, 224, 235, .7);
	padding-bottom: .15em;
	padding-left: 0;
	padding-right: 0;
}

.container{
	max-width: 80em;
	background-color: rgba(227, 242, 247, .9);
	padding-bottom: 3em;
}


label{
	font-family: Georgia, Serif;
	padding-bottom: 1em;
	padding-right: 1em;
}

input{
	font-family: Georgia, Serif;
}

button{
	font-family: Lucida Console’, Monaco, monospace; 
}

h2{
	font-family: Lucida Console’, Monaco, monospace;
	text-decoration: underline;
}

table{
	max-width: 10em;
	border-collapse: collapse;
	border: 2px solid black;
}

tr{
	border-collapse: collapse;
	border: 2px solid black;
}

select{
	width: 55%;
	height: 37px;
}

.form-group{
	text-align: right;
}
